@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

p,
span,
a {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sec-bg-color {
  background-color: #f3f5fa;
}

/* ===============================
      This is Header Section
================================ */

.header {
  background-color: #37517e;
}

.logo {
  letter-spacing: 2px;
}

.nav-link {
  color: white;

  &:hover {
    color: #3a9fce;
  }
}

.get-started {
  padding: 7px 15px !important;
  border-radius: 50px;
  border: 2px solid #47b2e4;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s;
  margin-left: 20px;

  &:hover {
    color: white;
    border: 2px solid #3a9fce;
    background-color: #47b2e4;
  }
}

.active {
  color: #47b2e4 !important;
}

/* -----Nav Sticky Start----- */
.nav-sticky {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #333;
  top: 0px;
  transition: all 1s;
}

/* ===============================
      This is Hero Section
================================ */
#hero {
  width: 100%;
  height: 70vh;
  background: #37517e;
}

.hero-text>h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  margin-bottom: 20px;
}

.hero-text>p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 40px;
  font-size: 20px;
}

.hero-image>.img-animation {
  animation: animation 2s ease-in-out infinite alternate-reverse both;
}

@keyframes animation {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.btn-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.btn-left>a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  background: #47b2e4;

  &:hover {
    background-color: #2995c7;
  }
}

.btn-right>a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.btn-right>a>i {
  color: #fff;
  font-size: 32px;
  margin-right: 10px;
  transition: 0.3s;

  &:hover {
    color: #47b2e4;
  }
}



/* ===============================
      This is Clients Section
================================ */
.clients {
  background-color: #f3f5fa;
}

.client-images>img {
  width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  filter: grayscale(100);
}

.client-images>img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

/* ===============================
      This is About Section
================================ */

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding-bottom: 15px;
  position: relative;
  color: #37517e;
  text-align: center;
}

.section-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.about-list>li>i {
  color: #2995c7;
  margin-right: 10px;
}

.learn-more {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}

.learn-more:hover {
  color: white;
  background-color: #47b2e4;
}

/* ===============================
      This is Why us Section
================================ */

.why-us-heading {
  font-weight: 800;
  font-size: 30px;
  color: #37517e;
}

.why-us-heading>span {
  font-weight: 400;
}
.why-up-paragraph{
  color: #848484;
  font-size: 14px;
  margin: 15px 0px;
}
/* ===============================
      This is Services Section
================================ */
.card {
  padding: 35px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0px;
  border: none;
  text-align: center;
  margin-bottom: 20px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.card>i {
  color: #47b2e4;
  font-size: 30px;
}

.card-body h5 {
  color: #47b2e4;
  padding: 10px 0px;
}